/**
* Author : Daniel (devnieL) Flores
*
*/

@import 'vars';
@import 'typography';

* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-webkit-font-smoothing: antialiased;
}

// ANGULARJS

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// COLORS
.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.pink {
	color: pink;
}

// CLEARFIX

.clearfix {

	zoom: 1; /* ie 6/7 */

	&:before,
	&:after {
	  content: "";
	  display: table;
	}

	&:after {
	  clear: both;
	}

}

body {
	font-family: Helvetica, sans-serif;
	color: $font-color--dark;
	background-color: #EFEFEF;
	font-family: Montserrat;
	
}

.link {
	list-style: none;
	color: #000;
	opacity: 0.5;
	text-decoration: none;
	transition: opacity 0.1s ease;

	&.white {
		color: #FFF;
	}

	&:hover {
		padding-bottom: 1px;
		opacity: 1;
	}
}

.no-opacity {
	opacity: 1 !important;
}

.nav {
	@extend .clearfix;

	list-style: none;

	padding: 0px;
	margin: 0px;

	li { float: left }

	&.nav-horizontal {
		li { float: left }
		li + li { margin-left: 10px; }
	}

	&.nav-vertical {
		li { float: none }
		li + li { margin-top: 10px; }
		li.nav-title + li { margin-top: 10px; }

		li .link {
			//opacity: 1;
		}

		li .link.selected {
			opacity: 1;
		}

	}

	.nav-title {
		//opacity: 0.6;
	}

	.nav-action {
		//opacity: 0.6;
		cursor: pointer;
		
		&:hover {
			//opacity: 1;
		}
	}

}

.header {

	background: #FFF;
	width: 100%;
	height: 50px;
	line-height: 50px;

	color: #000;

	.header-inner {
		width: $width;
		margin: 0 auto;

		.header-title {
			float: left;

			.link {
				display: flex;
				align-items: center;
			}

			.header-title-logo {
				width: 32px;
				height: 32px;
				margin-right: 7px;
			}

			.header-title-subtitle {
		   		opacity: 0.5;
			}
		}

		.header-nav {
			float: right;
		}
	}

}

body > .header {
	width: 100%;
	height: 50px;
	line-height: 50px;

	.header-inner {
		width: $width;
		padding: 0px 10px;

	}
}

.main .header {
	background: #FAFAFA;
	width: 100%;
	height: auto !important;
	line-height: 30px;
	color: #333;
	padding: 10px 20px;

	.header-inner {
		width: 100%;
	}
}

.body {
	width: 100% !important;
	padding: 10px;
	padding-left: 220px;
	height: 100%;
}

.sidebar {
	height: auto;
	position: absolute;
	left: 10px;
	width: 200px;
	top: 60px;
	font-size: 13px;
	border-radius: 3px;

	.sidebar-box {
		background: #4C66A4;
		color: #FFF;
		border-radius: 3px;

		& + .sidebar-box {
			margin-top: 10px;
		}

		.sidebar-box-header {
			background: #465F9A;
			color: rgba(255,255,255,0.7);
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			height: 40px;
			line-height: 40px;
			padding: 0px 10px;
		}

		.sidebar-box-body {
			padding: 10px;
		}
	}
}

.main {
	//background: #FAFAFA;
	height: 600px;
}

.menu {
	&.user-menu {
		display: flex;
		align-items: center;
		justify-contents: center;

		.user-picture {
			width: 30px;
			height: 30px;
			border-radius: 15px;
			margin-right: 5px;
		}
	}
}

// LAYOUT

.layout-grid-12 {
	width: 100%;

	&::after {
		display: block;
		content: " ";
		clear: both;
	}

	div[class*='layout-col-'] {
		box-sizing: border-box;
		float: left;
		min-height: 1px;

		&.layout-col-center {
			margin: 0 auto !important;
			float: none;
		}
	}

	.layout-col-12 {
		width: 100%/12 * 12;
	}

	.layout-col-11 {
		width: 100%/12 * 11;
	}

	.layout-col-10 {
		width: 100%/12 * 10;
	}

	.layout-col-9 {
		width: 100%/12 * 9;
	}

	.layout-col-8 {
		width: 100%/12 * 8;
	}

	.layout-col-7 {
		width: 100%/12 * 7;
	}

	.layout-col-6 {
		width: 100%/12 * 6;
	}

	.layout-col-5 {
		width: 100%/12 * 5;
	}

	.layout-col-4 {
		width: 100%/12 * 4;
	}

	.layout-col-3 {
		width: 100%/12 * 3;
	}

	.layout-col-2 {
		width: 100%/12 * 2;
	}

	.layout-col-1 {
		width: 100%/12 * 1;
	}

	div[class*='layout-col-'] + div[class*='layout-col-'] {
		padding-left: 10px;
	}
}

div[class*='layout-grid-'] + div[class*='layout-grid-'] {
	margin-top: 10px;
}

.main
.box {

}

.main
.header {


	background: #5F7EC7;
    border: none;
    color: #FFF;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	
	width: 100%;
	height: auto !important;
	line-height: 30px;
	padding: 5px 7px 5px 10px;
	font-size: 13px;

	input {
		padding: 5px 8px;
		border-radius: 3px;
		border: none;
		font-family: Montserrat;
	}

	.nav-horizontal {
		li { float: left }
		li + li { margin-left: 20px; }
	}
}

// TABLE

.table {
	display: table;
	width: 100%;
	background: #FFF;
	position: relative;

	.table-head {
		clear: both;
		display: table-header-group;
	}

	.table-body {
		display: table-row-group;
	}

	.table-row {
		display: table-row;
		width: auto;
		clear: both;
		align-items: center;

		.table-cell {
			display: table-cell;
			vertical-align: middle
		}
	}
}

.table-no-results {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 200px;
	margin-left: -100px;
	color: #777;
	text-align: center;
}

// TABLES

.table-wrapper {
	background: #FFF;
}

.table-users-wrapper {
	border-radius: 3px;
	margin-top: 0px;
		min-height: 400px;

}

.table-users-pagination {
	.pagination {
		list-style: none;
		padding: 0px;
		margin: 0px;
		margin-top: 10px;

		li { 
			float: left;
			background: #6488DC;
			border-radius: 3px;
			padding: 3px 8px;
			min-width: 40px;
			text-align: center;
			color: #FFF;
			cursor:pointer;

			&:hover {
				background: #4C66A4;
			}

			&.selected {
				background: #4C66A4;
			}

			& + li {
				margin-left: 3px;
			}
		}
	}
}

.table-users {
	width: 100%;
	border-collapse :  collapse;

	.table-head {
		background: #6488DC;
		color: #FFF;

		clear: both;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.table-cell {
		padding: 5px;
		text-align: center;
	}

	.table-header
	.table-cell {
		padding: 5px;
		text-align: center;
		padding-left: 10px;
		font-size: 14px;
	}

	.table-row {
		border-bottom: 1px solid #E2E2E2;
	}

	.table-row:last-child {
		border-bottom: none !important;
	}

	.table-cell {
		font-family: Montserrat;
		font-size: 12px;
	}

	.table-row-user {

		&.table-row-user-selected {
			background: #F3F3F3 !important;
		}

		&:hover {
			background: #FAFAFA;
			cursor: pointer;
		}	

		.table-row-user-picture {

			& > div {
				display: inline-block;
			}

			.table-row-user-picture-inner {
				width: 40px;
				height: 40px;
				display: flex;
				align-items: center;
				justify-contents: center;

				img {
					width: 40px;
					height: 40px;
					border-radius:20px;
				}
			}

		}

		.table-row-user-actions {
			.table-row-user-action {
				background: #ECECEC;
				padding: 5px;
				border-radius: 16px;
				border: 1px solid #E4E4E4;

				&:hover {
					cursor:pointer;
					background: #333;
					color: #FFF !important;
					border: 1px solid transparent !important;
				}

				& + .table-row-user-action {
					margin-left: 5px;
				}
			}
		}
	}

	.table-row-user-name {
		width: 250px;
		text-align: left;
	}

	.table-row-user-username {
		width: 300px;
		text-align: left;
	}
}


/**
 * Table Commitment Photo
 */

.table-row-commitment-photos-name {
	width: 250px;
	text-align: left !important;
}

.table-row-commitment-photos-commitment {
	width: 300px;
	text-align: left !important;
}

/**
 * Table User Commitments
 */

.table-row-user-commitments-user-name {
	text-align: left !important;
	width: 300px;
}

.table-row-user-commitments-user-username {
	text-align: left !important;
	width: 300px;
}

.table-row-user-commitments-commitment {
	width: 300px;
	text-align: left !important;
}

/**
 * Table Commitment
 */

.table-commitments-title-es,
.table-commitments-title-en {
	width: 300px;
	text-align: left !important;
}

.table-cell-commitment-category {
	img {
		width: 32px;
	}
}
// DIRECTIVES

// USER 

.user {
	.user-picture {

		width: 50px;
		height: 50px;
		float: left;

		img {
			width: 50px;
			height: 50px;
		}

	}

	.user-info {

		.user-name {}

		.user-username {}

	}
}

// BUTTONS

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.btn {
	border: none;
	padding: 6px;
	color: #FFF;
	background: #465F9A;
	border-radius: 3px;
	/* margin-left: -28px; */
	/* box-shadow: 1px 1px 1px rgb(83, 104, 154); */
	cursor: pointer;

	&:hover {
		background: #3A4E7D;
	}
}

// LOADER

#mask { 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F6F6F6;
	z-index: 10000;
	height: 100%; 
}

#mask2 { 
	width: 100%; 
	background-color: transparent !important;
	z-index: 10000;
	height: 100%; 
	min-height:300px; 
	position:relative; 
}

#loader {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url("/assets/img/loading_pdtp.gif");
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px; 
}


.box {
	.import-header {
		background: #FFF;
		padding: 20px;
		overflow: hidden;

		.import-header-left {
			img {
				width: 90%;
				margin-top: 20px;
				margin-bottom: -160px;
			}
		}

		.import-header-right {
			position: relative;

			.btn-upload {
			 	padding: 10px;
			 	position: relative;
			 	display: inline-block;
			 	cursor: pointer;

			 	position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -100px;
				margin-top: 100px;

			 	i {
			 		margin-right: 10px;
			 	}

				input[type='file'] {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					cursor: pointer;
					opacity: 0;
				}
			}
		}
	}	
}

// LIBS

@import "../../node_modules/angular-busy/dist/angular-busy";