<!doctype html>
<html class="no-js">
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title ng-bind="pageTitle"></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,500,600,700,800,900' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/admin/css/main.css">
  </head>
  <body ng-controller="AppCtrl" ng-cloak>

      <!-- 
        HEADER
      -->

      <div class="header">
        <div class="header-inner">
          <div class="header-title">
            <a href="/admin" class="link black no-opacity">
              <img class="header-title-logo" src="/assets/admin/images/pdtp.png" title="Pondetuparte.com"/> Pondetuparte.com
            </a>
          </div>

          <!-- 
            HEADER NAV
          -->

          <ul class="header-nav nav nav-horizontal">

            <li>
              <ul class="menu user-menu">
                <img class="user-picture" src="https://avatars0.githubusercontent.com/u/1231888?v=3&s=460" />
                <span class="user-name">{{user.nombres}}</span>
              </ul>
            </li>

          </ul>

        </div>
      </div>

      <!-- 
        SIDEBAR 
      -->

      <div class="sidebar">

        <div class="sidebar-box">
          <div class="sidebar-box-header"><i class="fa fa-database"></i>&nbsp; Datos</div>
          <div class="sidebar-box-body">
            <ul class="nav nav-vertical">
              
              <li><a class="link white" ng-class="{selected : currentPage == '/admin/users'}" href="/admin/users" title="Usuarios" ng-click="changePage('/admin/users')">Usuarios</a></li>
              <li><a class="link white" ng-click="changePage('/admin/commitment-photos')" ng-class="{selected : currentPage == '/admin/commitment-photos'}" href="/admin/commitment-photos" title="Evidencias">Evidencias</a></li>
              <li><a class="link white" ng-click="changePage('/admin/institutions')" ng-class="{selected : currentPage == '/admin/institutions'}" href="/admin/institutions" title="Instituciones">Instituciones</a></li>
              <li><a class="link white" ng-click="changePage('/admin/commitments')" ng-class="{selected : currentPage == '/admin/commitments'}" href="/admin/commitments" title="Categorías de Compromisos">Tipos de Compromisos</a></li>
              <li><a class="link white" ng-click="changePage('/admin/user-commitments')" ng-class="{selected : currentPage == '/admin/user-commitments'}" href="/admin/user-commitments" title="Compromisos">Compromisos de Usuarios</a></li>

            </ul>
          </div>
        </div>

        <div class="sidebar-box">
          <div class="sidebar-box-header"><i class="fa fa-upload"></i>&nbsp; Importar</div>
          <div class="sidebar-box-body">
            <ul class="nav nav-vertical">

              <li><a class="link white" ng-click="changePage('/admin/import/user-commitments')" ng-class="{selected : currentPage == '/admin/import/user-commitments'}" ng-href="/admin/import/user-commitments" target="_self" title="Nuevos compromisos de usuarios"> Compromisos de usuarios</a></li>
              
            </ul>
          </div>
        </div>

        <div class="sidebar-box">
          <div class="sidebar-box-header"><i class="fa fa-plug"></i>&nbsp; Acciones</div>
          <div class="sidebar-box-body">
            <ul class="nav nav-vertical">

              <li><a class="link white" ng-href="/logout" target="_self" title="Usuarios"> Salir</a></li>
              
            </ul>
          </div>
        </div>

      </div>

      <!-- 
        BODY
      -->

      <div class="body">
        <div class="layout-grid-12">
          <!-- MENU -->

          <div class="layout-col-12">
            <div class="main" ui-view>
            </div>
          </div>

        </div>
      </div>

      <script src="/assets/admin/js/main.js"></script>
  </body>
</html>