<div class="header">
	<div class="header-inner clearfix">
		<div class="header-title">
			Nuevos Compromisos de Usuarios
		</div>
	</div>
</div>

<div class="box">
	<div class="inner">

		<div class="import-header">
			<div class="layout-grid-12">
				<div class="import-header-left layout-col-6">
					<h1>Aquí puedes importar nuevos compromisos de usuarios mediante un archivo .xls</h1>
					<img src="/assets/admin/images/excel.png"/>
				</div>
				<div class="import-header-right layout-col-6">
					<label for="file" type="button" class="btn btn-blue btn-upload">
                        <i class="fa fa-file-text-o"></i>Seleccionar archivo</span>
                        <input name="file" type="file" multiple="false">
                    </label>
				</div>
			</div>
		</div>


	</div>
</div>