<div class="header">
	<div class="header-inner clearfix">
		<div class="header-title">
			Usuarios
			<span ng-show="loading.$cgBusyFulfilled == true" class="header-title-subtitle"> - {{total}} encontrados</span>
		</div>
		<div class="header-nav">
			<ul class="nav nav-horizontal">
				<li class="nav-action"><i class="fa fa-upload"></i> Subir</li>
				<li class="nav-action">
					<form ng-submit="search(query)">
						<input type="search" placeholder="Buscar ..." ng-model="query" ng-model-options="{debounce: 2000}" />
						<button type="submit" class="btn btn-blue"><i class="fa fa-search"></i></button>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="box">
	<div class="inner">

		<div class="table-users-wrapper table-wrapper" cg-busy="{
	          promise: loading,
	          message: '...',
	          backdrop: false,
	          templateUrl: '/app/views/loader.html',
	          delay:0,
	          minDuration:0
	        }">

			<div class="table-users table" >
					<div class="table-head">
						<div class="table-row">
							<div class="table-cell">ID</div>
							<div class="table-cell">Foto</div>
							<div class="table-cell">Nombres</div>
							<div class="table-cell">Username</div>
							<div class="table-cell">Sexo</div>
							<div class="table-cell">Ver.</div>
							<div class="table-cell">Fecha creación</div>
							<div class="table-cell"><i class="fa fa-wrench"></i></div>
						</div>
					</div>
					<div class="table-body">
						<div class="table-row table-row-user" ng-repeat="user in users">
							<div class="table-cell">{{user.id}}</div>
							<div class="table-cell">
								<div ng-if="user.foto_tipo == 1">
									<div class="table-row-user-picture">
								 		<img title="{{user.nombres}}" src="http://graph.facebook.com/{{user.fid}}/picture?type=normal"/>
								 	</div>
								</div>

								<div ng-if="user.foto_tipo == 0">
									<div class="table-row-user-picture">
										<img title="{{user.nombres}}" src="https://dal05.objectstorage.softlayer.net/v1/AUTH_2809ef13-5269-47b8-a204-8e6adeaf53f6/PDTP/users/{{user.foto}}" />
									</div>
								</div>
							</div>
							<div class="table-cell">{{user.nombres}}</div>
							<div class="table-cell">{{user.username}}</div>
							<div class="table-cell">
								<div ng-if="user.sexo == 'M'">
									<i class="fa fa-male blue"></i>
								</div>
								<div ng-if="user.sexo == 'F'">
									<i class="fa fa-female pink"></i>
								</div>
							</div>
							<div class="table-cell">
								<div ng-if="user.verified == 1">
									<i class="fa fa-check green"></i>
								</div>
								<div ng-if="user.verified == 0">
									<i class="fa fa-times red"></i>
								</div>
							</div>
							<div class="table-cell">{{user.fecha_creacion | date:'dd/MM/yyyy' }}</div>
							<div class="table-cell table-row-user-actions">
								<i class="fa fa-eye table-row-user-action"></i>
								<i class="fa fa-flag table-row-user-action"></i>
								<i class="fa fa-trash table-row-user-action"></i>
							</div>
						</div>
					</div>
			</div>
		</div>

		<div class="table-users-pagination">
			<pagination current-page=page total-pages=totalPages show-pages=10 search-query=query />
		</div>

	</div>

</div>