<div class="header">
	<div class="header-inner clearfix">
		<div class="header-title">Compromisos de usuarios</div>
		<div class="header-nav">
			<ul class="nav nav-horizontal">
				<li class="nav-action"><i class="fa fa-upload"></i> Subir</li>
			</ul>
		</div>
	</div>
</div>

<div class="box">
	<table class="table">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>City</th>
			<th>Donation</th>
		</thead>
		<tbody>
			<tr>
				<td>John</td>
				<td>Smith</td>
				<td>Seattle</td>
				<td>$12.95</td>
			</tr>
			<tr>
				<td>Eddy</td>
				<td>Johnston</td>
				<td>Palo Alto</td>
				<td>$15</td>
			</tr>
		</tbody>
	</table>
</div>